<div class="position-sticky pt-3">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="../home_click/home.html">
                <span data-feather="home"></span> Home
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../courseRegister/index.html">
                <span data-feather="book-open"></span> Course register
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../timetable_click/Monday/timetable.html">
                <span data-feather="calendar"></span> Timetable
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../exam_click/index.html">
                <span data-feather="check-square"></span> Test schedule
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../mark_click/mark.html">
                <span data-feather="edit"></span> Mark
            </a>
        </li>
    </ul>
</div>