<div class="position-sticky pt-3">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="../home_click/index.html">
                <span data-feather="home"></span> Home
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="../lecturer_click/index.html">
                <span data-feather="users"></span> Lecturer
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../student_click/index.html">
                <span data-feather="users"></span> Student
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../course_click/index.html">
                <span data-feather="book-open"></span> Course
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../notification_click/index.html">
                <span data-feather="bell"></span> Notifications
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../sectionclass_click/index.html">
                <span data-feather="clipboard"></span> Section class
            </a>
        </li>
    </ul>
</div>