<div class="position-sticky pt-3">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="#">
                <span data-feather="home"></span> Home
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../student_click/student.html">
                <span data-feather="users"></span> Student
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../timetable_click/Monday/timetable.html">
                <span data-feather="calendar"></span> Timetable
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../sectionclass_click/sectionClass.html">
                <span data-feather="clipboard"></span> Section class
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../mark_click/mark.html">
                <span data-feather="edit"></span> Mark management
            </a>
        </li>
    </ul>
</div>